<html>

<body>
  <%- include('partials/_header'); -%>
    <main class="container mx-auto py-8">
      <div class="bg-gray-800 rounded-lg shadow-md p-8 mx-auto w-150">
        <div class="flex items-center justify-center mb-4">
          <% data.sharers.map(s=> { %>
            <a href="/profile/<%= s %>" class="flex items-center text-white mr-4">
              <% if(guild.members.cache.get(s)) { %>
                <img src="<%= guild.members.cache.get(s).user.displayAvatarURL({ dynamic: true }) %>"
                  class="w-8 h-8 rounded-full mr-2">
                <% } %>
                  <% if(guild.members.cache.get(s)) { %>
                    <%= guild.members.cache.get(s).user.username %>
                      <% } else { %>
                        Paylaşan kişi bilinmiyor
                        <% } %>
            </a>
            <% }); %>
        </div>
        <h2 class="text-xl text-xl text-white font-bold mb-4">
          <%= data.name %>
        </h2>
        <p class="text-gray-500 text-white  mb-4">
          <%= data.desc %>
        </p>
        <p class="mb-4 text-gray-300">Modüller: <span class="bg-gray-700 px-2 py-1 rounded-md">
            <%= data.modules %>
          </span></p>

        <% if (!data.bug) { %>
          <a href="/bug/<%= data.id %>" class="text-red-500 float-right ml-4">
            <i class="fas fa-exclamation-triangle"></i>
          </a>
          <% } else { %>
            <p class="text-red-500"><strong>Dikkat:</strong> Bu kodda hata bildirimi yapılmıştır! Yetkililerimiz en kısa
              sürede ilgilenecektir.</p>
            <% } %>
              <% if (data.mainCode) { %>
                <h2 class="text-xl text-white font-bold mt-8">Main Kodu: <a onclick="kopyala('kaynak')"><i
                      class="far fa-copy"></i></a></h2>
                <pre
                  class="bg-gray-700 text-white rounded-lg p-4 mt-4 overflow-auto"><code class="language-js" id="kaynak"><%= data.mainCode %></code></pre>
                <% } %>
                  <% if (data.command) { %>
                    <h2 class="text-xl text-white font-bold mt-8">Komut: <a onclick="copy('commandIcon')"><i
                          class="far fa-copy"></i></a></h2>
                    <pre
                      class="bg-gray-700 text-white rounded-lg p-4 mt-4 overflow-auto"><code class="language-js" id="command"><%= data.command %></code></pre>
                    <% } %>
                      <% if (data.sharers.includes(user.id) || reqMember.hasPermission(8)) { %>
                        <a href="/delete/<%= data.rank %>/<%= data.id %>"
                          class="bg-red-500 text-white px-4 py-2 rounded-md block mt-4 w-full text-center">Kodu sil</a>
                        <% } %>
                          <form id="likeForm" action="/like" method="POST">
                            <input name="id" id="likeName" type="hidden" value="<%= data.id %>">
                          </form>
      </div>
    </main>	
    

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
    <script>
      if (localStorage.getItem("mode") != "") {
        document.body.classList.add(localStorage.getItem("mode"));
        document.getElementById("mode-btn").checked = true;
      }

      const copy = (icon) => {
        const btn = document.getElementById(icon);
        btn.style.color = "green";
        setTimeout(() => btn.style.color = "#b8b8b8", 1000);
        icon = icon.replace("Icon", "");
        copyText(document.getElementById(icon).textContent)
      }

      function kopyala(elemanID) {
        var cop = document.createElement("div");
        cop.setAttribute("contentEditable", true);
        cop.innerHTML = document.getElementById(elemanID).innerHTML;
        cop.setAttribute("onfocus", "document.execCommand('selectAll',false,null)");
        document.body.appendChild(cop);
        cop.focus();
        document.execCommand("copy");
        document.body.removeChild(cop);
      }
    </script>

</body>

</html>