<html>
  <body>
    <%- include('partials/_header'); -%>
<body class="bg-gray-900">
  <div class="mb-auto  container mx-auto flex flex-col items-center justify-center">
    <div
        class="my-5 w-1/2 bg-gray-100 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center">
          <img src="<%= member.user.avatarURL({ dynamic: true }) %>" style="border-radius: 100%; width: 100px; height: 100px;">

            <h5 class="mt-4 mb-1 text-xl font-medium text-gray-900 dark:text-white"><%= member.user.tag %></h5><span
                class="text-sm text-gray-500 dark:text-gray-400 text-center">(<%=member.user.id%>)
            <div class="mb-8 flex mt-2 md:mt-6 space-x-2"></div>
        </div>
    </div>
</div>


<% if (data.codes) { %>
  <div class="bg-gray text-center-900 py-8 px-4 md:px-8">
    <h3 class="text-2xl text-white text-center font-bold mb-4">
      Paylaştığı kodlar
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% data.codes.sort((a, b) => b.date - a.date).map(x => { %>
      <div class="bg-gray-800 rounded-lg shadow-md p-4">
        <a href="/<%= x.rank %>/<%= x.id %>" class="text-xl text-white font-bold mb-2 hover:underline">
          <%= x.name %>
        </a>
      </div>
      <% }); %>
    </div>
  </div>
<% } %>


</body>



    <script>
      if (localStorage.getItem("mode") != "") {
        document.body.classList.add(localStorage.getItem("mode"));
        document.getElementById("mode-btn").checked = true;
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>